#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background-color: #9328ff;
    color: white;
    text-align: center;
    padding: 15px;
}

#nav {
    float: left;
    min-height: 620px;
    padding: 10px;
    width: 120px;
    background-color: lightgrey;
}

#content {
    float: left;
    padding: 20px;
    width: 640px;
    text-align: justify;
}

#ad {
    float: left;
    width: 160px;
    min-height: 620px;
    padding: 10px;
    background-color: lightgrey;
}

#footer {
    clear: both;
    background-color: #9328ff;
    color: white;
    text-align: center;
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #9328ff;
    text-decoration: none;
}

.link {
    font-size: 18px;
    height: 25px;
    padding: 0px;
    border-bottom: 2px dotted #444444;
    text-align: center;
}